In [1]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df_filmes = pd.read_csv('data/movies.csv')
df_notas = pd.read_csv('data/ratings.csv')

In [5]:
df_filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
#Usando Regex eu consigo separar o ano do titulo do filme
df_filmes['year'] = df_filmes.title.str.extract('(\(\d\d\d\d\))',expand=False)
#remover os parenteses
df_filmes['year'] = df_filmes.year.str.extract('(\d\d\d\d)',expand=False)
#Removendo o ano do filme
df_filmes['title'] = df_filmes.title.str.replace('(\(\d\d\d\d\))', '')
#Aplicando a função strip para remover qualquer caracter em branco
df_filmes['title'] = df_filmes['title'].apply(lambda x: x.strip())
df_filmes.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

Vamos remover o genero, pois ele não é necessário nesse tipo de sistema de recomendação

In [8]:
df_filmes = df_filmes.drop('genres',1)

In [9]:
df_filmes.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [10]:
df_notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [12]:
df_notas = df_notas.drop('timestamp',1)

In [14]:
df_notas.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

## Filtragem colaborativa

É conhecida como filtragem Usuário-Usuário. Como o proprio nome diz, esta tecnica usa outros usuários para recomendar itens ao usuário de entrada.
Tenta encontrar usuário com gostos parecidos como entrada e então recomenda itens que você possa gostar.

Há varios métodos para encontrar a similaridade( mesmo alguns usando técnicas de ML) e oque foi ensinado é baseado na função de Correlação de Pearson.

O processo para criar um sistema de recomendação baseado no usuário é o seguinte:
    1. Selecione um usuário com os filmes que o usuário assistiu.
    2. Baseado em sua classificação para filmes, encontre os principais vizinhos X.
    3. Obter o registro do filme assistido do usuário para cada vizinho.
    4. Calcular a pontuação de similaridade usando a formula.
    5. Recomende os itens com a maior pontuação.

In [15]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                title
0     5.0  Breakfast Club, The
1     3.5            Toy Story
2     2.0              Jumanji
3     5.0         Pulp Fiction
4     4.5                Akira

In [18]:
#Filtrar os filmes pelo titulo
inputId = df_filmes[df_filmes['title'].isin(inputMovies['title'].tolist())]
inputId

      movieId                title  year
0           1            Toy Story  1995
1           2              Jumanji  1995
257       296         Pulp Fiction  1994
973      1274                Akira  1988
1445     1968  Breakfast Club, The  1985

In [20]:
#Então mesclá-lo para que possamos obter o movieId. Está implicitamente mesclando-o pelo título.
inputMovies = pd.merge(inputId, inputMovies)
inputMovies

   movieId                title  year  rating
0        1            Toy Story  1995     3.5
1        2              Jumanji  1995     2.0
2      296         Pulp Fiction  1994     5.0
3     1274                Akira  1988     4.5
4     1968  Breakfast Club, The  1985     5.0

In [21]:
#Retirar oque não preciso
inputMovies = inputMovies.drop('year', 1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [22]:
#Filtrando usuários que assistiram a filmes que a entrada assistiu e armazenando
userSubset = df_notas[df_notas['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
0         1        1     4.0
16        1      296     3.0
320       4      296     1.0
422       4     1968     4.0
516       5        1     4.0

In [28]:
#Groupby cria vários subframes de dados em que todos eles têm o mesmo valor na coluna especificada como o parâmetro
userSubsetGroup = userSubset.groupby(['userId'])

In [42]:
#Posso filtrar pela ID do usuário, neste caso eu to pegando todos os filmes do usuário com a ID 15
userSubsetGroup.get_group(608)

       userId  movieId  rating
98666     608        1     2.5
98667     608        2     2.0
98723     608      296     5.0
98882     608     1274     4.0
98980     608     1968     4.0

In [39]:
userSubsetGroup.groups

{1: Int64Index([0, 16], dtype='int64'),
 4: Int64Index([320, 422], dtype='int64'),
 5: Int64Index([516, 533], dtype='int64'),
 6: Int64Index([560, 692], dtype='int64'),
 7: Int64Index([874], dtype='int64'),
 8: Int64Index([1026, 1049], dtype='int64'),
 10: Int64Index([1119], dtype='int64'),
 14: Int64Index([1403], dtype='int64'),
 15: Int64Index([1434, 1442], dtype='int64'),
 16: Int64Index([1575], dtype='int64'),
 17: Int64Index([1667, 1676], dtype='int64'),
 18: Int64Index([1772, 1773, 1796], dtype='int64'),
 19: Int64Index([2274, 2275, 2629], dtype='int64'),
 20: Int64Index([2977], dtype='int64'),
 21: Int64Index([3219, 3220, 3231], dtype='int64'),
 23: Int64Index([3789, 3835], dtype='int64'),
 24: Int64Index([3907], dtype='int64'),
 26: Int64Index([4048], dtype='int64'),
 27: Int64Index([4059, 4060], dtype='int64'),
 28: Int64Index([4215], dtype='int64'),
 29: Int64Index([4768], dtype='int64'),
 31: Int64Index([4879], dtype='int64'),
 32: Int64Index([4929, 4961], dtype='int64'),
 33: Int64Index([5031, 5059], dtype='int64'),
 37: Int64Index([5361], dtype='int64'),
 38: Int64Index([5407], dtype='int64'),
 39: Int64Index([5459, 5517], dtype='int64'),
 40: Int64Index([5555, 5608], dtype='int64'),
 41: Int64Index([5664], dtype='int64'),
 42: Int64Index([5917, 6087], dtype='int64'),
 43: Int64Index([6315, 6360], dtype='int64'),
 44: Int64Index([6429], dtype='int64'),
 45: Int64Index([6477, 6511, 6662], dtype='int64'),
 46: Int64Index([6876], dtype='int64'),
 47: Int64Index([6945], dtype='int64'),
 50: Int64Index([7112, 7116, 7158, 7175], dtype='int64'),
 51: Int64Index([7422], dtype='int64'),
 54: Int64Index([7931, 7943], dtype='int64'),
 56: Int64Index([8009], dtype='int64'),
 57: Int64Index([8035, 8071, 8230, 8321], dtype='int64'),
 58: Int64Index([8560], dtype='int64'),
 62: Int64Index([8791, 8797], dtype='int64'),
 63: Int64Index([9157, 9172, 9242], dtype='int64'),
 64: Int64Index([9428, 9466, 9622], dtype='int64'),
 66: Int64Index([9979, 10002, 10128], dtype='int64'),
 67: Int64Index([10325], dtype='int64'),
 68: Int64Index([10360, 10361, 10419, 10679], dtype='int64'),
 69: Int64Index([11622], dtype='int64'),
 70: Int64Index([11702], dtype='int64'),
 71: Int64Index([11728], dtype='int64'),
 72: Int64Index([11770], dtype='int64'),
 73: Int64Index([11808], dtype='int64'),
 74: Int64Index([12022], dtype='int64'),
 76: Int64Index([12264, 12271], dtype='int64'),
 78: Int64Index([12412, 12418], dtype='int64'),
 81: Int64Index([12715], dtype='int64'),
 82: Int64Index([12730, 12731], dtype='int64'),
 84: Int64Index([13137], dtype='int64'),
 86: Int64Index([13402], dtype='int64'),
 89: Int64Index([13549], dtype='int64'),
 90: Int64Index([14067], dtype='int64'),
 91: Int64Index([14121, 14122, 14173, 14316, 14383], dtype='int64'),
 93: Int64Index([14720, 14721], dtype='int64'),
 94: Int64Index([14817, 14844], dtype='int64'),
 95: Int64Index([14912, 14929], dtype='int64'),
 96: Int64Index([15041, 15049], dtype='int64'),
 98: Int64Index([15155], dtype='int64'),
 99: Int64Index([15280], dtype='int64'),
 100: Int64Index([15319, 15388], dtype='int64'),
 102: Int64Index([15534], dtype='int64'),
 103: Int64Index([15565, 15566, 15587, 15684], dtype='int64'),
 104: Int64Index([15942], dtype='int64'),
 105: Int64Index([16226, 16289], dtype='int64'),
 107: Int64Index([16970, 16971, 16992], dtype='int64'),
 108: Int64Index([17027], dtype='int64'),
 109: Int64Index([17131], dtype='int64'),
 110: Int64Index([17212], dtype='int64'),
 112: Int64Index([17904, 17905], dtype='int64'),
 115: Int64Index([18158], dtype='int64'),
 117: Int64Index([18349, 18412], dtype='int64'),
 118: Int64Index([18516], dtype='int64'),
 119: Int64Index([18536, 18542], dtype='int64'),
 121: Int64Index([18773, 18803], dtype='int64'),
 122: Int64Index([18831, 18845, 18900], dtype='int64'),
 123: Int64Index([19126], dtype='int64'),
 124: Int64Index([19179, 19185], dtype='int64'),
 125: Int64Index([19229, 19235], dtype='int64'),
 126: Int64Index([19602], dtype='int64'),
 129: Int64Index([19720], dtype='int64'),
 130: Int64Index([19822, 19834], dtype='int64'),
 131: Int64Index([19857], dtype='int64'),
 132: Int64Index([19919, 19946, 20048], dtype='int64'),
 133: Int64Index([20276], dtype='int64'),
 134: Int64Index([20301, 20318], dtype='int64'),
 135: Int64Index([20336, 20337, 20357, 20482], dtype='int64'),
 136: Int64Index([20676], dtype='int64'),
 137: Int64Index([20726, 20733], dtype='int64'),
 140: Int64Index([21083, 21084, 21119], dtype='int64'),
 141: Int64Index([21691, 21700, 21734], dtype='int64'),
 142: Int64Index([21872], dtype='int64'),
 143: Int64Index([21903], dtype='int64'),
 144: Int64Index([21968, 21969, 21989], dtype='int64'),
 145: Int64Index([22096, 22106], dtype='int64'),
 149: Int64Index([22219, 22254], dtype='int64'),
 151: Int64Index([22303], dtype='int64'),
 152: Int64Index([22366], dtype='int64'),
 153: Int64Index([22425, 22426, 22429], dtype='int64'),
 155: Int64Index([22638, 22659], dtype='int64'),
 156: Int64Index([22684, 22707, 22891], dtype='int64'),
 159: Int64Index([23129, 23135], dtype='int64'),
 160: Int64Index([23226, 23227, 23264], dtype='int64'),
 161: Int64Index([23663], dtype='int64'),
 162: Int64Index([23722], dtype='int64'),
 166: Int64Index([23864, 23874, 23932], dtype='int64'),
 167: Int64Index([24054, 24065], dtype='int64'),
 168: Int64Index([24230], dtype='int64'),
 169: Int64Index([24321, 24322], dtype='int64'),
 170: Int64Index([24609], dtype='int64'),
 171: Int64Index([24640, 24654], dtype='int64'),
 173: Int64Index([24756], dtype='int64'),
 174: Int64Index([24798], dtype='int64'),
 176: Int64Index([24875], dtype='int64'),
 177: Int64Index([24900, 24901, 24930, 25069, 25129], dtype='int64'),
 178: Int64Index([25804, 25813], dtype='int64'),
 179: Int64Index([25881, 25909], dtype='int64'),
 181: Int64Index([26024], dtype='int64'),
 182: Int64Index([26092, 26152, 26301, 26418], dtype='int64'),
 185: Int64Index([27260], dtype='int64'),
 186: Int64Index([27307, 27308], dtype='int64'),
 187: Int64Index([27551, 27604], dtype='int64'),
 191: Int64Index([27925, 27983], dtype='int64'),
 192: Int64Index([28020], dtype='int64'),
 193: Int64Index([28032, 28034], dtype='int64'),
 195: Int64Index([28103, 28172], dtype='int64'),
 197: Int64Index([28310, 28332], dtype='int64'),
 198: Int64Index([28361, 28417, 28454], dtype='int64'),
 199: Int64Index([28592], dtype='int64'),
 200: Int64Index([28934, 28949, 29025], dtype='int64'),
 201: Int64Index([29268, 29283, 29337], dtype='int64'),
 202: Int64Index([29378, 29379, 29401, 29597], dtype='int64'),
 203: Int64Index([29783], dtype='int64'),
 204: Int64Index([29828], dtype='int64'),
 206: Int64Index([29936], dtype='int64'),
 210: Int64Index([30044], dtype='int64'),
 211: Int64Index([30182], dtype='int64'),
 212: Int64Index([30271, 30303], dtype='int64'),
 213: Int64Index([30517], dtype='int64'),
 214: Int64Index([30601], dtype='int64'),
 215: Int64Index([30628, 30666], dtype='int64'),
 216: Int64Index([30721, 30792], dtype='int64'),
 217: Int64Index([30885, 30886, 30932, 31224], dtype='int64'),
 219: Int64Index([31524, 31525, 31554, 31628, 31680], dtype='int64'),
 220: Int64Index([32052, 32065], dtype='int64'),
 221: Int64Index([32259, 32271], dtype='int64'),
 222: Int64Index([32590, 32602], dtype='int64'),
 223: Int64Index([32840, 32845], dtype='int64'),
 224: Int64Index([32938], dtype='int64'),
 226: Int64Index([33044, 33045, 33083, 33217], dtype='int64'),
 227: Int64Index([33559], dtype='int64'),
 229: Int64Index([33670, 33693], dtype='int64'),
 230: Int64Index([33735, 33796], dtype='int64'),
 231: Int64Index([33875], dtype='int64'),
 232: Int64Index([33898, 33899, 33913], dtype='int64'),
 233: Int64Index([34760, 34765], dtype='int64'),
 234: Int64Index([34910], dtype='int64'),
 235: Int64Index([35133], dtype='int64'),
 239: Int64Index([35301, 35321], dtype='int64'),
 240: Int64Index([35580, 35581, 35631], dtype='int64'),
 241: Int64Index([35711], dtype='int64'),
 242: Int64Index([35800], dtype='int64'),
 246: Int64Index([35979], dtype='int64'),
 247: Int64Index([36173, 36182], dtype='int64'),
 249: Int64Index([36374, 36375, 36398], dtype='int64'),
 251: Int64Index([37450], dtype='int64'),
 252: Int64Index([37470], dtype='int64'),
 254: Int64Index([37555, 37565], dtype='int64'),
 259: Int64Index([37945], dtype='int64'),
 260: Int64Index([37984, 38014], dtype='int64'),
 261: Int64Index([38130], dtype='int64'),
 262: Int64Index([38208], dtype='int64'),
 263: Int64Index([38236, 38251], dtype='int64'),
 264: Int64Index([38446], dtype='int64'),
 266: Int64Index([38665, 38687, 38781], dtype='int64'),
 268: Int64Index([38978], dtype='int64'),
 269: Int64Index([39031], dtype='int64'),
 270: Int64Index([39060], dtype='int64'),
 273: Int64Index([39174, 39192], dtype='int64'),
 274: Int64Index([39229, 39230, 39288, 39448, 39549], dtype='int64'),
 275: Int64Index([40575, 40596, 40749], dtype='int64'),
 276: Int64Index([40978, 40979], dtype='int64'),
 277: Int64Index([41019], dtype='int64'),
 279: Int64Index([41067, 41072], dtype='int64'),
 280: Int64Index([41243], dtype='int64'),
 282: Int64Index([41460, 41472, 41533], dtype='int64'),
 283: Int64Index([41697], dtype='int64'),
 284: Int64Index([41732, 41770], dtype='int64'),
 285: Int64Index([41821, 41842], dtype='int64'),
 286: Int64Index([41866], dtype='int64'),
 287: Int64Index([42018], dtype='int64'),
 288: Int64Index([42114, 42115, 42150, 42438], dtype='int64'),
 290: Int64Index([43193, 43209], dtype='int64'),
 291: Int64Index([43460], dtype='int64'),
 292: Int64Index([43491, 43505, 43586], dtype='int64'),
 293: Int64Index([43937], dtype='int64'),
 294: Int64Index([43958, 43990, 44184], dtype='int64'),
 295: Int64Index([44399], dtype='int64'),
 296: Int64Index([44438], dtype='int64'),
 298: Int64Index([44535, 44536, 44555, 44620, 44655], dtype='int64'),
 299: Int64Index([45474], dtype='int64'),
 301: Int64Index([45542], dtype='int64'),
 302: Int64Index([45657], dtype='int64'),
 304: Int64Index([45728, 45729, 45768], dtype='int64'),
 305: Int64Index([45944, 45962, 46076], dtype='int64'),
 307: Int64Index([46733, 46734, 46790, 47011], dtype='int64'),
 308: Int64Index([47708], dtype='int64'),
 309: Int64Index([47824], dtype='int64'),
 313: Int64Index([48261, 48336, 48389], dtype='int64'),
 314: Int64Index([48581, 48632], dtype='int64'),
 317: Int64Index([48809], dtype='int64'),
 318: Int64Index([48984, 49009, 49091, 49126], dtype='int64'),
 321: Int64Index([49918], dtype='int64'),
 322: Int64Index([49974, 49975, 49983, 50026], dtype='int64'),
 323: Int64Index([50081, 50082, 50112], dtype='int64'),
 325: Int64Index([50220, 50317], dtype='int64'),
 326: Int64Index([50477], dtype='int64'),
 328: Int64Index([50670, 50681, 50765], dtype='int64'),
 330: Int64Index([50948, 50949, 50975, 51094], dtype='int64'),
 331: Int64Index([51199], dtype='int64'),
 332: Int64Index([51363, 51374], dtype='int64'),
 334: Int64Index([51655, 51662], dtype='int64'),
 335: Int64Index([51812], dtype='int64'),
 336: Int64Index([51837, 51848], dtype='int64'),
 337: Int64Index([51893], dtype='int64'),
 338: Int64Index([51971], dtype='int64'),
 339: Int64Index([52009, 52016], dtype='int64'),
 340: Int64Index([52391], dtype='int64'),
 341: Int64Index([52408], dtype='int64'),
 343: Int64Index([52528], dtype='int64'),
 346: Int64Index([52723, 52776], dtype='int64'),
 347: Int64Index([52880, 52881], dtype='int64'),
 348: Int64Index([52928], dtype='int64'),
 349: Int64Index([52991], dtype='int64'),
 350: Int64Index([53017], dtype='int64'),
 351: Int64Index([53059], dtype='int64'),
 352: Int64Index([53201], dtype='int64'),
 353: Int64Index([53492, 53493, 53547], dtype='int64'),
 354: Int64Index([53595, 53673], dtype='int64'),
 356: Int64Index([53917], dtype='int64'),
 357: Int64Index([54123, 54124, 54148, 54290], dtype='int64'),
 359: Int64Index([54547, 54548, 54553], dtype='int64'),
 362: Int64Index([54753], dtype='int64'),
 363: Int64Index([54856], dtype='int64'),
 364: Int64Index([54882], dtype='int64'),
 365: Int64Index([54924], dtype='int64'),
 367: Int64Index([55211, 55273], dtype='int64'),
 368: Int64Index([55434, 55632], dtype='int64'),
 370: Int64Index([56002, 56033], dtype='int64'),
 371: Int64Index([56095], dtype='int64'),
 372: Int64Index([56128, 56180, 56313], dtype='int64'),
 373: Int64Index([56364, 56365, 56415], dtype='int64'),
 374: Int64Index([56472], dtype='int64'),
 377: Int64Index([56694], dtype='int64'),
 378: Int64Index([56794], dtype='int64'),
 379: Int64Index([56855], dtype='int64'),
 380: Int64Index([56878, 56879, 56920], dtype='int64'),
 381: Int64Index([58096, 58097, 58212], dtype='int64'),
 382: Int64Index([58570, 58577], dtype='int64'),
 384: Int64Index([58897], dtype='int64'),
 385: Int64Index([58965, 59002], dtype='int64'),
 386: Int64Index([59198], dtype='int64'),
 387: Int64Index([59269, 59453, 59540], dtype='int64'),
 389: Int64Index([60290], dtype='int64'),
 391: Int64Index([60405, 60430, 60603], dtype='int64'),
 395: Int64Index([60962, 60980], dtype='int64'),
 396: Int64Index([61023], dtype='int64'),
 399: Int64Index([61120, 61123], dtype='int64'),
 400: Int64Index([61161], dtype='int64'),
 401: Int64Index([61199], dtype='int64'),
 402: Int64Index([61285], dtype='int64'),
 403: Int64Index([61322], dtype='int64'),
 404: Int64Index([61381], dtype='int64'),
 405: Int64Index([61425], dtype='int64'),
 409: Int64Index([61721], dtype='int64'),
 410: Int64Index([61853], dtype='int64'),
 411: Int64Index([62009, 62010, 62071], dtype='int64'),
 412: Int64Index([62136], dtype='int64'),
 413: Int64Index([62239], dtype='int64'),
 414: Int64Index([62294, 62295, 62425, 62769, 62957], dtype='int64'),
 415: Int64Index([65000], dtype='int64'),
 416: Int64Index([65089], dtype='int64'),
 417: Int64Index([65139], dtype='int64'),
 418: Int64Index([65206], dtype='int64'),
 419: Int64Index([65308], dtype='int64'),
 420: Int64Index([65452, 65455], dtype='int64'),
 422: Int64Index([65630, 65654], dtype='int64'),
 423: Int64Index([65726], dtype='int64'),
 424: Int64Index([65756, 65793], dtype='int64'),
 425: Int64Index([65884, 65914, 66035], dtype='int64'),
 426: Int64Index([66190, 66194], dtype='int64'),
 427: Int64Index([66282], dtype='int64'),
 428: Int64Index([66387, 66441], dtype='int64'),
 432: Int64Index([66798, 66799, 66814], dtype='int64'),
 433: Int64Index([67061], dtype='int64'),
 434: Int64Index([67080, 67081, 67100, 67154], dtype='int64'),
 436: Int64Index([67355, 67356], dtype='int64'),
 437: Int64Index([67507], dtype='int64'),
 438: Int64Index([67583], dtype='int64'),
 440: Int64Index([68252], dtype='int64'),
 441: Int64Index([68277], dtype='int64'),
 443: Int64Index([68337, 68340], dtype='int64'),
 444: Int64Index([68393], dtype='int64'),
 445: Int64Index([68423], dtype='int64'),
 446: Int64Index([68493, 68531], dtype='int64'),
 447: Int64Index([68577, 68599], dtype='int64'),
 448: Int64Index([68655, 68656, 68694, 68943], dtype='int64'),
 451: Int64Index([70608], dtype='int64'),
 452: Int64Index([70738], dtype='int64'),
 453: Int64Index([70844, 70865], dtype='int64'),
 454: Int64Index([71158], dtype='int64'),
 456: Int64Index([71257], dtype='int64'),
 458: Int64Index([71350, 71377], dtype='int64'),
 460: Int64Index([71435, 71447], dtype='int64'),
 462: Int64Index([71544, 71563, 71678], dtype='int64'),
 463: Int64Index([72000], dtype='int64'),
 464: Int64Index([72047], dtype='int64'),
 468: Int64Index([72420, 72439], dtype='int64'),
 469: Int64Index([72453, 72478, 72613, 72696], dtype='int64'),
 470: Int64Index([72918, 72919, 72954], dtype='int64'),
 471: Int64Index([72998, 72999], dtype='int64'),
 474: Int64Index([73092, 73093, 73172, 73466, 73641], dtype='int64'),
 475: Int64Index([75200], dtype='int64'),
 476: Int64Index([75355, 75356, 75380], dtype='int64'),
 477: Int64Index([75424, 75425, 75447, 75558, 75613], dtype='int64'),
 479: Int64Index([76102], dtype='int64'),
 480: Int64Index([76227, 76228, 76273, 76396, 76462], dtype='int64'),
 482: Int64Index([77094, 77139], dtype='int64'),
 483: Int64Index([77222, 77223, 77265, 77375, 77431], dtype='int64'),
 484: Int64Index([77950, 77951, 78032], dtype='int64'),
 486: Int64Index([78273], dtype='int64'),
 488: Int64Index([78360], dtype='int64'),
 489: Int64Index([78471, 78512, 78699], dtype='int64'),
 490: Int64Index([79119, 79124], dtype='int64'),
 492: Int64Index([79296], dtype='int64'),
 497: Int64Index([79794], dtype='int64'),
 498: Int64Index([79860], dtype='int64'),
 500: Int64Index([79907, 79942, 79957], dtype='int64'),
 501: Int64Index([79993], dtype='int64'),
 503: Int64Index([80075, 80102], dtype='int64'),
 504: Int64Index([80168, 80171, 80184], dtype='int64'),
 509: Int64Index([80373, 80387], dtype='int64'),
 512: Int64Index([81000, 81017], dtype='int64'),
 513: Int64Index([81057], dtype='int64'),
 514: Int64Index([81082, 81096, 81190], dtype='int64'),
 517: Int64Index([81531, 81532], dtype='int64'),
 519: Int64Index([81958], dtype='int64'),
 522: Int64Index([82207, 82216], dtype='int64'),
 523: Int64Index([82407], dtype='int64'),
 524: Int64Index([82482], dtype='int64'),
 525: Int64Index([82613, 82614, 82713], dtype='int64'),
 526: Int64Index([83114], dtype='int64'),
 527: Int64Index([83171, 83241], dtype='int64'),
 528: Int64Index([83338, 83341], dtype='int64'),
 529: Int64Index([83411], dtype='int64'),
 533: Int64Index([83535], dtype='int64'),
 534: Int64Index([83573, 83574], dtype='int64'),
 540: Int64Index([84288], dtype='int64'),
 541: Int64Index([84327], dtype='int64'),
 542: Int64Index([84417], dtype='int64'),
 544: Int64Index([84603], dtype='int64'),
 550: Int64Index([84780], dtype='int64'),
 551: Int64Index([84812], dtype='int64'),
 552: Int64Index([84939], dtype='int64'),
 553: Int64Index([85127], dtype='int64'),
 555: Int64Index([85291, 85325, 85541], dtype='int64'),
 558: Int64Index([85930, 85944], dtype='int64'),
 559: Int64Index([85984, 85985, 86029], dtype='int64'),
 560: Int64Index([86124, 86140, 86177], dtype='int64'),
 561: Int64Index([86582, 86583, 86601, 86710], dtype='int64'),
 562: Int64Index([87087, 87093, 87147], dtype='int64'),
 563: Int64Index([87318, 87347], dtype='int64'),
 564: Int64Index([87542], dtype='int64'),
 565: Int64Index([87698], dtype='int64'),
 566: Int64Index([87717, 87748], dtype='int64'),
 567: Int64Index([87791, 87815], dtype='int64'),
 568: Int64Index([88178], dtype='int64'),
 569: Int64Index([88205], dtype='int64'),
 570: Int64Index([88219, 88220, 88341], dtype='int64'),
 572: Int64Index([88522], dtype='int64'),
 573: Int64Index([88677, 88678, 88693], dtype='int64'),
 574: Int64Index([88985], dtype='int64'),
 575: Int64Index([88999], dtype='int64'),
 577: Int64Index([89155], dtype='int64'),
 579: Int64Index([89243], dtype='int64'),
 580: Int64Index([89316, 89339], dtype='int64'),
 583: Int64Index([89852], dtype='int64'),
 584: Int64Index([89904, 89945], dtype='int64'),
 585: Int64Index([89992], dtype='int64'),
 586: Int64Index([90048], dtype='int64'),
 587: Int64Index([90256, 90268], dtype='int64'),
 588: Int64Index([90451], dtype='int64'),
 589: Int64Index([90488], dtype='int64'),
 590: Int64Index([90517, 90518, 90546], dtype='int64'),
 592: Int64Index([91299, 91335], dtype='int64'),
 593: Int64Index([91443], dtype='int64'),
 594: Int64Index([91496], dtype='int64'),
 596: Int64Index([91748, 91832], dtype='int64'),
 597: Int64Index([92159, 92419], dtype='int64'),
 599: Int64Index([92623, 92624, 92742, 93073, 93269], dtype='int64'),
 600: Int64Index([95101, 95102, 95154, 95306], dtype='int64'),
 601: Int64Index([95864], dtype='int64'),
 602: Int64Index([95965, 96029], dtype='int64'),
 603: Int64Index([96100, 96171, 96414], dtype='int64'),
 604: Int64Index([97043, 97044, 97103], dtype='int64'),
 605: Int64Index([97143, 97144, 97151], dtype='int64'),
 606: Int64Index([97364, 97418, 97592, 97692], dtype='int64'),
 607: Int64Index([98479, 98496, 98574], dtype='int64'),
 608: Int64Index([98666, 98667, 98723, 98882, 98980], dtype='int64'),
 609: Int64Index([99497, 99510], dtype='int64'),
 610: Int64Index([99534, 99552, 99636, 99664], dtype='int64')}

In [43]:
# Classificando para que os usuários com filme mais em comum com a entrada tenham prioridade
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [44]:
userSubsetGroup[0:3]

[(91,        userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0), (177,        userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5), (219,        userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0)]

## Similaridade dos usuários para o usuário de entrada

Em seguida, vamos comparar todos os usuários (não todos !!!) ao nosso usuário especificado e encontrar aquele que é mais semelhante.
Vamos descobrir como cada usuário é semelhante à entrada por meio do coeficiente de correlação de Pearson, que é usado para medir a força de uma associação linear entre duas variáveis.

### Por que a correlação de Pearson?

A correlação de Pearson é invariante ao escalonamento, isto é, multiplicando todos os elementos por uma constante diferente de zero ou adicionando qualquer constante a todos os elementos. 

Por exemplo, se você tem dois vetores X e Y, então, pearson (X, Y) == pearson (X, 2 * Y + 3). 

Esta é uma propriedade muito importante nos sistemas de recomendação porque, por exemplo, dois usuários podem classificar duas séries de itens totalmente diferentes em termos de taxas absolutas, mas seriam usuários semelhantes (ou seja, com idéias semelhantes) com taxas semelhantes em várias escalas.

Os valores fornecidos pela fórmula variam de r = -1 a r = 1, onde 1 forma uma correlação direta entre as duas entidades (significa uma correlação positiva perfeita) e -1 forma uma correlação negativa perfeita.

No nosso caso, um 1 significa que os dois usuários têm gostos semelhantes, enquanto -1 significa o oposto.

In [45]:
# Posso impor um limite por onde iremos percorrer, para que não precisaremos passar por todos
#userSubsetGroup = userSubsetGroup[0:100]

In [52]:
# Armazene a Correlação de Pearson em um dicionário, em que a chave é o ID do usuário e o valor é o coeficiente
correlacaoPearson = {}
#Percorrer os usuários no dataset
for name, group in userSubsetGroup:
    # Vamos começar classificando a entrada e o grupo de usuários atual para que os valores não sejam misturados mais tarde
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Pegando o N da formula
    nNotas = len(group)
    #Pegando os filmes que tem em comum
    temp_df = inputMovies[inputMovies['movieId'].isin(group.movieId.tolist())]
    temp_notas = temp_df['rating'].tolist()
    temp_group = group['rating'].tolist()
    #Agora vamos calcular a Correlação de Pearson entre 2 usuários, chamados X e Y
    Sxx = sum([i**2 for i in temp_notas]) - pow(sum(temp_notas),2)/float(nNotas)
    Syy = sum([i**2 for i in temp_group]) - pow(sum(temp_group),2)/float(nNotas)
    Sxy = sum( i*j for i, j in zip(temp_notas, temp_group)) - sum(temp_notas)*sum(temp_group)/float(nNotas)
    #Se o denominador for diferente de 0 então divida.
    if Sxx != 0 and Syy != 0:
        correlacaoPearson[name] = Sxy/sqrt(Sxx*Syy)
    else:
        correlacaoPearson[name] = 0

In [54]:
correlacaoPearson.items()

dict_items([(91, 0.43852900965351443), (177, 0.0), (219, 0.45124262819713973), (274, 0.716114874039432), (298, 0.9592712306918567), (414, 0.9376144618769914), (474, 0.11720180773462392), (477, 0.4385290096535153), (480, 0.7844645405527362), (483, 0.08006407690254357), (599, 0.7666866491579839), (608, 0.920736884379251), (50, 0.15713484026367722), (57, -0.7385489458759964), (68, 0.0), (103, 0.5222329678670935), (135, 0.8703882797784892), (182, 0.9428090415820635), (202, 0.5222329678670935), (217, 0.30151134457776363), (226, 0.9438798074485389), (288, 0.6005325641789633), (307, 0.9655810287305759), (318, 0.44486512077567225), (322, 0.5057805388588731), (330, 0.9035942578600878), (357, 0.5606119105813882), (434, 0.9864036607532465), (448, 0.30151134457776363), (469, 0.8164965809277261), (561, 0.5222329678670935), (600, 0.18442777839082938), (606, 0.9146591207600472), (610, -0.47140452079103173), (18, 1.0), (19, -0.5), (21, 0), (45, 0.5000000000000009), (63, -0.4999999999999982), (64, 0.0), (66, 0.5000000000000009), (107, -1.0), (122, 0.8660254037844387), (132, 1.0000000000000004), (140, 0.5), (141, 0), (144, 1.0), (153, 0.8660254037844379), (156, 0.1889822365046138), (160, 0.8660254037844402), (166, -0.6546536707079772), (198, 0.0), (200, 0.7559289460184552), (201, 0), (232, 0.6546536707079778), (240, -0.8660254037844386), (249, 0), (266, 0.5), (275, -0.4999999999999982), (282, -1.000000000000007), (292, -1.0000000000000018), (294, 0.5000000000000009), (304, 0.8660254037844356), (305, 1.0), (313, -0.4999999999999929), (323, 0.0), (328, -0.5000000000000002), (353, 0.8660254037844356), (359, 0.8660254037844448), (372, 0.142857142857144), (373, 0.866025403784439), (380, 0), (381, 0.6546536707079778), (387, -0.18898223650461649), (391, 0.8660254037844387), (411, 0.8660254037844356), (425, 0.8660254037844387), (432, -0.8660254037844386), (462, 0.8029550685469661), (470, 0.0), (476, -0.8660254037844402), (484, 0.7205766921228925), (489, 1.0), (500, 0), (504, 0), (514, 0), (525, 1.0), (555, 0.5000000000000009), (559, -0.5), (560, 0.9819805060619666), (562, 0.9999999999999858), (570, 0.8660254037844448), (573, 0.8660254037844264), (590, 0.9607689228305233), (603, 0.052414241836095235), (604, 0.0), (605, -0.7205766921228919), (607, 0.0), (1, -1.0), (4, 0), (5, 1.0), (6, -1.0), (8, 0), (15, 1.0), (17, 1.0), (23, -1.0), (27, -1.0), (32, 1.0), (33, 1.0), (39, 0), (40, 0), (42, 0), (43, -1.0), (54, 0), (62, 1.0), (76, 1.0), (78, 0), (82, -1.0), (93, -1.0), (94, 0), (95, -1.0), (96, 0), (100, 0), (105, 1.0), (112, 1.0), (117, 1.0), (119, 1.0), (121, 0), (124, 1.0), (125, 1.0), (130, 1.0), (134, 1.0), (137, -1.0), (145, -1.0), (149, 0), (155, -1.0), (159, -1.0), (167, -1.0), (169, 1.0), (171, 0), (178, 1.0), (179, 0), (186, 0), (187, 1.0), (191, 1.0), (193, 1.0), (195, 0), (197, 0), (212, 0), (215, 0), (216, -1.0), (220, 0), (221, 1.0), (222, 1.0), (223, -1.0), (229, 0), (230, 0), (233, 1.0), (239, 1.0), (247, -1.0), (254, 1.0), (260, 1.0), (263, -1.0), (273, -1.0), (276, 0), (279, 1.0), (284, 0), (285, 0), (290, 1.0), (314, -1.0), (325, 0), (332, 0), (334, 1.0), (336, 1.0), (339, -1.0), (346, 0), (347, 1.0), (354, 0), (367, 0), (368, 0), (370, 0), (382, 1.0), (385, 0), (395, 0), (399, 1.0), (420, 0), (422, -1.0), (424, 0), (426, -1.0), (428, 0), (436, 0), (443, 0), (446, 1.0), (447, 0), (453, 0), (458, 0), (460, -1.0), (468, -1.0), (471, -1.0), (482, -1.0), (490, 1.0), (503, 0), (509, -1.0), (512, 1.0), (517, 1.0), (522, 1.0), (527, 1.0), (528, 1.0), (534, -1.0), (558, 0), (563, 1.0), (566, 0), (567, -1.0), (580, 1.0), (584, -1.0), (587, 0), (592, 0), (596, -1.0), (597, 1.0), (602, 1.0), (609, 1.0), (7, 0), (10, 0), (14, 0), (16, 0), (20, 0), (24, 0), (26, 0), (28, 0), (29, 0), (31, 0), (37, 0), (38, 0), (41, 0), (44, 0), (46, 0), (47, 0), (51, 0), (56, 0), (58, 0), (67, 0), (69, 0), (70, 0), (71, 0), (72, 0), (73, 0), (74, 0), (81, 0), (84, 0), (86, 0), (89, 0), (90, 0), (98, 0), (99, 0), (102, 0), (104, 0), (108, 0), (109, 0), (110, 0), (115, 0), (118, 0), (123, 0), (126, 0), (129, 0), (131, 0), (133, 0), (136, 0), (142, 0), (143, 0), (151, 0), (152, 0), (161, 0), (162, 0), (168, 0), (170, 0), (173, 0), (174, 0), (176, 0), (181, 0), (185, 0), (192, 0), (199, 0), (203, 0), (204, 0), (206, 0), (210, 0), (211, 0), (213, 0), (214, 0), (224, 0), (227, 0), (231, 0), (234, 0), (235, 0), (241, 0), (242, 0), (246, 0), (251, 0), (252, 0), (259, 0), (261, 0), (262, 0), (264, 0), (268, 0), (269, 0), (270, 0), (277, 0), (280, 0), (283, 0), (286, 0), (287, 0), (291, 0), (293, 0), (295, 0), (296, 0), (299, 0), (301, 0), (302, 0), (308, 0), (309, 0), (317, 0), (321, 0), (326, 0), (331, 0), (335, 0), (337, 0), (338, 0), (340, 0), (341, 0), (343, 0), (348, 0), (349, 0), (350, 0), (351, 0), (352, 0), (356, 0), (362, 0), (363, 0), (364, 0), (365, 0), (371, 0), (374, 0), (377, 0), (378, 0), (379, 0), (384, 0), (386, 0), (389, 0), (396, 0), (400, 0), (401, 0), (402, 0), (403, 0), (404, 0), (405, 0), (409, 0), (410, 0), (412, 0), (413, 0), (415, 0), (416, 0), (417, 0), (418, 0), (419, 0), (423, 0), (427, 0), (433, 0), (437, 0), (438, 0), (440, 0), (441, 0), (444, 0), (445, 0), (451, 0), (452, 0), (454, 0), (456, 0), (463, 0), (464, 0), (475, 0), (479, 0), (486, 0), (488, 0), (492, 0), (497, 0), (498, 0), (501, 0), (513, 0), (519, 0), (523, 0), (524, 0), (526, 0), (529, 0), (533, 0), (540, 0), (541, 0), (542, 0), (544, 0), (550, 0), (551, 0), (552, 0), (553, 0), (564, 0), (565, 0), (568, 0), (569, 0), (572, 0), (574, 0), (575, 0), (577, 0), (579, 0), (583, 0), (585, 0), (586, 0), (588, 0), (589, 0), (593, 0), (594, 0), (601, 0)])

In [56]:
pearsonDF = pd.DataFrame.from_dict(correlacaoPearson, orient='index')
pearsonDF.columns = ['Similaridade']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   Similaridade  userId
0      0.438529      91
1      0.000000     177
2      0.451243     219
3      0.716115     274
4      0.959271     298

In [58]:
topUsers=pearsonDF.sort_values(by='Similaridade', ascending=False)[0:50]
topUsers.head()

     Similaridade  userId
43            1.0     132
181           1.0     382
219           1.0     602
130           1.0     130
129           1.0     125

In [59]:
#Agora vamos multiplicar pelo peso das notas.
topUsersRating=topUsers.merge(df_notas, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   Similaridade  userId  movieId  rating
0           1.0     132        1     2.0
1           1.0     132       17     3.0
2           1.0     132       29     2.0
3           1.0     132       32     3.0
4           1.0     132       34     1.5

In [60]:
topUsersRating['peso'] = topUsersRating['Similaridade']*topUsersRating['rating']
topUsersRating.head()

   Similaridade  userId  movieId  rating  peso
0           1.0     132        1     2.0   2.0
1           1.0     132       17     3.0   3.0
2           1.0     132       29     2.0   2.0
3           1.0     132       32     3.0   3.0
4           1.0     132       34     1.5   1.5

In [61]:
#Aplica uma soma aos principais usuários após agrupá-lo por userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['Similaridade','peso']]
tempTopUsersRating.columns = ['sum_similaridade','sum_peso']
tempTopUsersRating.head()

         sum_similaridade  sum_peso
movieId
1                    36.0     124.0
2                    18.0      58.0
3                     3.0      11.0
5                     3.0       8.5
6                    13.0      49.5

In [63]:
#Criar dataframe novo
recommendation_df = pd.DataFrame()
#Agora pegamos a média dos pesos
recommendation_df['Média do peso da similaridade'] = tempTopUsersRating['sum_peso']/tempTopUsersRating['sum_similaridade']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         Média do peso da similaridade  movieId
movieId
1                             3.444444        1
2                             3.222222        2
3                             3.666667        3
5                             2.833333        5
6                             3.807692        6

In [64]:
recommendation_df = recommendation_df.sort_values(by='Média do peso da similaridade', ascending=False)
recommendation_df.head(10)

         Média do peso da similaridade  movieId
movieId
3035                               5.0     3035
1956                               5.0     1956
2522                               5.0     2522
2495                               5.0     2495
2477                               5.0     2477
163386                             5.0   163386
2455                               5.0     2455
2450                               5.0     2450
2427                               5.0     2427
163112                             5.0   163112

In [67]:
df_filmes.loc[df_filmes['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

      movieId                                        title  year
1433     1956                              Ordinary People  1980
1826     2427                           Thin Red Line, The  1998
1842     2450                              Howard the Duck  1986
1846     2455                                     Fly, The  1986
1865     2477                                   Firewalker  1986
1877     2495  Fantastic Planet, The (Planète sauvage, La)  1973
1898     2522                                  Airport '77  1977
2288     3035                               Mister Roberts  1955
9380   163112                Winnie the Pooh Goes Visiting  1971
9382   163386       Winnie the Pooh and the Day of Concern  1972

'[alt' não é reconhecido como um comando interno
ou externo, um programa operável ou um arquivo em lotes.